.panel-primary>.panel-heading {
    background-color: #636566!important;
    border: 0;
    border-radius:0;
    padding:5px 10px;
}
.panel-primary {
    border: 0;
    box-shadow: none;
}
.panel-body {
    padding: 0;
}
.glyphicon {
    color:#FFF;
}
