<div class="panel panel-primary">
    <div class="panel-heading ">
        Workflow Tasks ({{distrubtionTasksLength}})<a class="pull-right"><span class="glyphicon glyphicon-cog"></span> </a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tr>
                <th>Distribution Name</th>
                <th>In Progress</th>
                <th>In Queue</th>
            </tr>
            <tr *ngFor="#wf of distributionServices">
                <td> {{wf.task}}</td>
                <td> {{wf.inprogress}}</td>
                <td> {{wf.inqueue}}</td>
            </tr>
        </table>
    </div>
</div>