<div class="panel panel-primary">
    <div class="panel-heading ">
        Workflow Tasks ({{wftasksLength}})<a class="pull-right"><span class="glyphicon glyphicon-cog"></span> </a>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-bordered table-hover">
            <tr>
                <th>Tasks</th>
                <th>Warning</th>
                <th>In Progress</th>
                <th>Failed</th>
            </tr>
            <tr *ngFor="#wf of workflowservices">
                <td> {{wf.task}}</td>
                <td> {{wf.warning}}</td>
                <td> {{wf.inprogress}}</td>
                <td> {{wf.failed}}</td>
            </tr>
        </table>
    </div>
</div>